.container{
	max-width: 1080px;
}

.navbar-brand{
	padding: 0;
}

.navbar-brand img{
	margin-top: -15px;
}

.navbar-custom .navbar-nav li a{
	font-weight: 300;
	letter-spacing: 2px;
}

.navbar-custom .navbar-nav li {
	padding: 0 10px;
}

li.fone{
	color: #fff;
	font-size: 18px;
	padding: 10px !important;
}

#carouselHome{
	padding-top: 100px;
}

h2{
	color: #b80408;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 36px !important;
	letter-spacing: 4px;
}

p.subtitle{
	color: #9a9a9a;
	letter-spacing: 2px;
	font-weight: 300;
}

.title{
	margin-bottom: 40px;
}

.services-home img{
	border-bottom: 6px solid #b80408;
}

h3{
	color: #b80408;
	font-weight: 300;
	font-size: 20px !important;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.services-home p{
	color: #a9a9a9;
	letter-spacing: 2px;
	font-size: 16px;
	font-weight: 300;
}

.payment{
	padding-top: 0;
	padding-bottom: 200px;
}

.brands{
	padding-top: 0;
	padding-bottom: 0;
	background: url(../img/pneus.jpg);
}

p.mini{
	font-size: 12px;
	font-weight: 300;
}

.text-left{
	text-align: left;
	letter-spacing: 1px;
}

.address{
	padding-top: 15px;
}

.footer-above h5{
	font-size: 32px;
	font-weight: 300;
	padding-top: 15px;
	text-align: right;
}

.bg{
	background-image: url(../img/bg.png);
	background-color: #f8f8f8;
	background-repeat: no-repeat;
}

.bg-2{
	background-image: url(../img/bg-2.png);
	background-color: #000;
	background-repeat: no-repeat;
	background-size: cover;

}

.services-line{
	padding-top: 40px;
}

.head{
	padding: 120px 0;
	text-align: center;
}

.head p{
	color: #fff;
	text-shadow: 1px 1px #666;
}

.head h2{
	padding-top: 80px;
	color: #fff;
	text-shadow: 1px 1px #666;
	font-size: 5rem !important;
	font-weight: 700;
}

p{
	font-weight: 100;
	margin-bottom: 20px;
	font-size: 18px;
}

h1{
	color: #c0392b;
	font-weight: 900;
	font-size: 48px;
	margin-bottom: 40px;
}

h3{
	border-left: 2px solid #b80408;
	padding-left: 15px;
	color: #565656;
}

.default{
	padding: 60px 0;
}

.sidebar{
	padding: 160px 40px 50px;
    background: #565656;
    border-bottom: 6px solid #c0392b;
    margin-top: -60px;
}

.title-sidebar{
	color: #fff;
	font-size: 28px;
	font-weight: 900;
	line-height: 32px;
	margin-top: 10px;
}

.fone-sidebar{
	font-weight: 900;
	font-size: 32px;
	color: #fff;
	margin-top: 20px;
}

.fone-sidebar span{
	font-size: 20px;
	font-weight: 100;
}

.contatos {
    text-align: center;
    padding: 10px 0;
}

.contatos h5 {
    font-size: 32px;
}

h5.medio {
    font-size: 20px !important;
}

.contatos h5 {
    font-size: 32px;
}

.form-control {
    border-radius: 2px;
    height: 48px;
    font-size: 18px;
}

.form-control:focus {
  border-color: #0d5a97 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.btn-danger{
	background: #b80408;
	border-radius: 3px;
	transition: all 0.2s;
	text-transform: uppercase;
}

.campo_informacao {
    position: relative;
    height: 350px;
    margin: -100px 20px 0;
    padding: 30px 20px;
    border: 1px solid #eee;
    border-radius: 3px;
    background-color: #fff;
    z-index: 99;
    margin-bottom: 40px;
}

.itens-servicos {
    margin-bottom: 60px;
}

.itens-servicos p{
	font-size: 16px;
}

.itens-servicos h3{
	border-left: none;
	font-weight: 900;
}

.navbar-custom .navbar-nav li a:hover{
	font-weight: 900;
	color: #fff;
	transition: all 0.2s;
}

.navbar-custom .navbar-nav li a{
	transition: all 0.2s;
}

li.active{
	font-weight: 900;
}
